<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeutronDictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NeutronDictionary.Properties.Settings>
            <setting name="Personalization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceTyping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchByEmoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PredictiveSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>big</value>
            </setting>
            <setting name="HavingHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HavingFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundSpeed" serializeAs="String">
                <value>medium</value>
            </setting>
            <setting name="SoundOnDemand" serializeAs="String">
                <value>False</value>
            </setting>
        </NeutronDictionary.Properties.Settings>
    </userSettings>
</configuration>